.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948 !important; /* green */
}
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
.form-control:focus  {
  border-left: 5px solid blue; /* red */
}
.container .row .col{
    padding: 15px;
}