<div class="container">
    <form novalidate>
      <div class="row">
        <div class="col md-12">
          <h4>Odbiorca</h4>
          <div class="form-group" novalidate>
            <label for="daneOdbiorcy">Imię i nazwisko</label>
            <input minlength=10 type="text" class="form-control" [(ngModel)]="myModel.recipient" name="recipient" #recipient="ngModel" required>
            <div [hidden]="recipient.valid || recipient.pristine" class="alert alert-danger">
                Recipient is required
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col md-12">
          <h4>Adres</h4>
          <div class="form-group">
            <label for="adresOdbiorcy">Nazwa ulicy</label>
            <input minlength=5  type="text" class="form-control" [(ngModel)]="myModel.address" name="address" #address="ngModel" required>
            <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
              Address is required
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col md-12 text-center">
          <button type="submit" class="btn btn-success" [disabled]="recipient.invalid || address.invalid" (click)="sendOrder()">Wyślij zamówienie</button>
        </div>
      </div>
  </form>
</div>