div.shop-tab-container{
    z-index: 10;
    background-color: #ffffff;
    /* padding: 0 !important; */
    border-radius: 0px;
    -moz-border-radius: 0px;
    /* border:1px solid #ddd; */
    /* margin-top: 0px; */
    /* margin-left: 0px; */
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

div.shop-tab-content{
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
    vertical-align: text-middle;
}
.btn-group {
    /* padding-top: 20px; */
}
.btn-group > .btn {
    padding: 0.75rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0rem;
}
.cat {
    text-align: left;
    cursor: unset;
    padding: 0.5rem 1rem;
    /* font-size: 1.25rem; */
    /* line-height: 1.5; */
    border-radius: 0rem;    
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: relative;
    width: 100%;
    height: 360px;
}

.carousel-inner {
    border-radius: 0px;
}

.carousel-caption {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 0 0 10px 25px;
    color: #fff;
    text-align: left;
}

.carousel-indicators {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    margin: 0;
    padding: 0 25px 25px 0;
    text-align: right;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

@media (min-width: 1400px){
    .container {
        width: 95%;
    }
}

.no-padding{
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.no-padding-right{
    padding-right: 0 !important;
}

.no-padding-left{
    padding-left: 0 !important;
}

.itemFinder{
    vertical-align: middle;
    display: table-cell;
    margin: 15px;
}