<app-header [userLogged]="userLogged" [itemsInCart]="itemsInCart" [pageActive]="pageActive" [shoppingCartValue]="shoppingCartValue" (shoppingCartActiveChange)="pageActive = $event" (logoutUserEvent)="userLogged = $event"></app-header>

<div *ngIf="pageActive == 'shopping'" class="container no-padding">
  <div class="row">
    <div class="col  no-padding">
        <div class="btn-group w-100" role="group">
          <!-- W przypadku zmiany modelu na menu górne należy dodać klasy btn oraz btn-default/info -->
          <div class="cat w-100 bg-primary">
            <h4>
              <i class="fa fa-bars" aria-hidden="true"></i> 
              CATEGORIES
            </h4>
          </div>
        </div>
    </div>
  </div>
  <div class="row shop-tab-container">
    <div class="col col-3 no-padding">
        <app-categories [activeCategories]="activeCategories" (activeCategoriesChange)="activeCategories = $event"></app-categories>
        <app-filter-section [filterName]="filterName" (filterNameChange)="filterName = $event" [filterPrice]="filterPrice" (filterPriceChange)="filterPrice = $event"></app-filter-section>
    </div>
    <div class="col col-md-9 no-padding">
        <div class="shop-tab-content">
          <app-products (filterPriceRangeChange)="filterPriceRange = $event" [filterPrice]="filterPrice" [filterName]="filterName" [activeCategories]="activeCategories" [arrayOfItemsInCart]="arrayOfItemsInCart" [promotionsArray]="promotionsArray" (arrayOfItemsInCartChange)="arrayOfItemsInCart = $event; calculateItemsInCart();"></app-products>
        </div>
    </div>
  </div>
</div>

<app-login-page *ngIf="pageActive == 'logowanie'" (userStateChange)="userLogged = $event; pageActive='shopping'" (goToRegistrationPageEvent)="pageActive = 'registration'"></app-login-page>
<app-register-page *ngIf="pageActive == 'registration'" (goToLoginPage)="pageActive='logowanie'"></app-register-page>
<app-shopping-cart *ngIf="pageActive == 'shoppingCart'" [shoppingCartValue]="shoppingCartValue" [arrayOfItemsInCart]="arrayOfItemsInCart" [promotionsArray]="promotionsArray" (shoppingCartActiveChange)="pageActive = $event" (arrayOfItemsInCartChange)="arrayOfItemsInCart = $event; calculateItemsInCart();"></app-shopping-cart>
<app-order-finalising *ngIf="pageActive == 'orderFinalising'" [arrayOfItemsInCart]="arrayOfItemsInCart" [promotionsArray]="promotionsArray" (cleanTheShoppingCart)="cleanTheShoppingCart()"></app-order-finalising>
<app-my-orders *ngIf="pageActive == 'moje_zamowienia'"></app-my-orders>