<div class="filter-section">
      <h5>Filtry</h5>
      <div>
          <label for="productName">Nazwa produktu:</label>
          <input type="text" class="form-control" name="productName" (input)="updateFilterName($event.target.value)">
      </div>
      <div>
          <label for="productName">Zakres cenowy:</label>
          <nouislider [tooltips]="true" [connect]="true" [min]="0" [max]="3000" [(ngModel)]="filterPrice" (change)="updateFilterPrice()"></nouislider>
      </div>
</div>