<div class="container">
    <div class="row">
      <div class="col md-12 text-center">
        <h4>Twój koszyk na zakupy</h4>
      </div>
    </div>
    <div class="row">
        <div class="col col-md-1">
          Ilość
        </div>
        <div class="col col-md-6">
          Produkt
        </div>
        <div class="col col-md-2">
          Cena
        </div>
        <div class="col col-md-2">
          Wartość
        </div>
        <div class="col col-md-1">
        </div>
    </div>
    <div *ngFor="let key of getObjectKeys(arrayOfItemsInCart)" class="row">
        <div class="col col-md-1">
          {{ arrayOfItemsInCart[key].count }}
        </div>
        <div class="col col-md-6">
          {{ arrayOfItemsInCart[key].productDescription.name }}
        </div>
        <div class="col col-md-2">
          {{ getProductPrice(key) | currency:'USD':true }}
        </div>
        <div class="col col-md-2">
          {{ (getProductPrice(key) * arrayOfItemsInCart[key].count) | currency:'USD':true }}
        </div>
        <div class="col col-md-1">
          <button (click)="removeFromCart(key)" class="btn btn-warning">Usuń</button>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-3 offset-md-6">
          Wartość zamówienia:
        </div>
        <div class="col col-md-3">
          {{ shoppingCartValue | currency:'USD':true }}
        </div>
    </div>
    <div class="row">
        <div class="col md-12 text-center">
            <button (click)="continueShopping()" class='btn btn-primary'>Kontynuuj zakupy</button>
            <button  [ngClass]="shoppingCartValue > 0 ? '': 'disabled'" class='btn btn-primary' (click)="finaliseOrder()">Złóż zamówienie</button>
        </div>
    </div>
</div>