<div class="modal-header">
  <h4 class="modal-title .bg-success">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group row">
      <label for="example-text-input" class="col-8 col-form-label">Wartość promocji [%]</label>
      <div class="col-4">
          <input class="form-control" type="text" [(ngModel)]="promotion.value">
      </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-8 col-form-label">Czas trwania promocji [min]</label>
    <div class="col-4">
        <input class="form-control" type="text" [(ngModel)]="promotion.time">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="activeModal.close('Close click'); addPromotion();">Dodaj</button>
  <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Anuluj</button>
</div>