<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse ">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{ title }}</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" [ngClass]="activePage == 'produkty' ? 'active' : ''" (click)="activePage = 'produkty'">
        <a class="nav-link" href="#">Produkty</a>
      </li>
      <li class="nav-item dropdown" [ngClass]="activePage == 'zamowienia_oczekujace' || activePage == 'zamowienia_zrealizowane' ? 'active' : ''">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Zamówienia</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" (click)="activePage = 'zamowienia_oczekujace'; typeOfOrders = 'oczekujace'">Oczekujące</a>
          <a class="dropdown-item" href="#" (click)="activePage = 'zamowienia_zrealizowane'; typeOfOrders = 'zrealizowane'">Zrealizowane</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <button (click)="logout()" class="btn btn-primary navbar-brand">Wyloguj</button>
          </li>
      </ul>
  </div>
</nav>

<app-products *ngIf="activePage == 'produkty'"></app-products>
<app-orders [typeOfOrders]="typeOfOrders" *ngIf="activePage == 'zamowienia_oczekujace' || activePage == 'zamowienia_zrealizowane'"></app-orders>