<div class="container">
    <div class="modal-dialog">
      <div class="loginmodal-container">
        <h1>Login to Your Account</h1><br>
        <form (submit)="authenticate($event)">
          <input type="text" name="user" placeholder="Username">
          <input type="password" name="pass" placeholder="Password">
          <input type="submit" name="login" class="login loginmodal-submit" value="Login"><br/>

          <a href="#" (click)="goToRegistrationPage()">Do not have an account? Register here</a>
        </form>
      </div>
    </div>
  </div>