<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" [ngClass]="activePage == 'shopping' ? 'active' : ''" (click)="goToPage('shopping')">
                <a class="nav-link" href="#">Sklep</a>
            </li>
            <li *ngIf="userLogged" class="nav-item" [ngClass]="activePage == 'moje_zamowienia' ? 'active' : ''" (click)="goToPage('moje_zamowienia')">
                <a class="nav-link" href="#">Moje zamówienia</a>
            </li>
            <li *ngIf="userLogged" class="nav-item" [ngClass]="activePage == 'logowanie' ? 'active' : ''" (click)="logoutUser()">
                <a class="nav-link" href="#">Wyloguj</a>
            </li>
            <li *ngIf="!userLogged" class="nav-item" [ngClass]="activePage == 'logowanie' ? 'active' : ''" (click)="goToPage('logowanie')">
                <a class="nav-link" href="#">Logowanie</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link">Koszyk:  {{ itemsInCart }} produkt(ów), {{ shoppingCartValue | currency:'USD':true }}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <button *ngIf="pageActive != 'shoppingCart'" (click)="goToPage('shoppingCart')" class="btn btn-primary navbar-brand">Do kasy</button>
            </li>
        </ul>
    </div>
</nav>