<div class="modal-header">
    <h4 class="modal-title .bg-success">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Nazwa</label>
        <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="product.name">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Opis</label>
        <div class="col-10">
            <input class="form-control" type="text"  [(ngModel)]="product.description">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Kategoria</label>
        <div class="col-10">
            <select class="form-control" [(ngModel)]="product.category" >
                <option *ngFor="let category of categories" value="{{ category.id }}" [selected]="category.id == product.category">{{ category.name }}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Cena</label>
        <div class="col-10">
            <input class="form-control" type="text"  [(ngModel)]="product.price">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Zdjęcie</label>
        <div class="col-10">
            <input class="form-control" type="file" #fileInput>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="activeModal.close('Close click'); saveItem(product.id);">Zapisz</button>
    <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Anuluj</button>
</div>