<div class="container">
  <div class="table-wrapper">
      <div class="table-title">
          <div class="row">
              <div class="col-sm-8"><h2>Products</h2></div>
              <div class="col-sm-4">
                  <button type="button" class="btn btn-info add-new" (click)="newItemDialog()"><i class="fa fa-plus"></i> Add New</button>
              </div>
          </div>
      </div>
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>Lp</th>
                  <th>Nazwa</th>
                  <th>Opis</th>
                  <th>Cena</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let product of products; let i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.description }}</td>
                  <td>{{ product.price | currency:'USD':true }}</td>
                  <td>
                    <a class="edit" title="Edit" data-toggle="tooltip"><i class="fa fa-pencil" aria-hidden="true" (click)="editItem(i)"></i></a>
                    <a class="delete" title="Delete" data-toggle="tooltip"><i class="fa fa-trash" aria-hidden="true" (click)="deleteItem(i)"></i></a>
                    <a *ngIf="!promotions[product.id]" class="add_promotion" title="Create promotion" data-toggle="tooltip"><i class="fa fa-percent" aria-hidden="true" (click)="createPromotion(i)"></i></a>
                    <a *ngIf="promotions[product.id]" class="remove_promotion" title="Remove promotion" data-toggle="tooltip"><i class="fa fa-percent" aria-hidden="true" (click)="deletePromotion(i)"></i></a>
                  </td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>