<div class="container">
    <div class="row">
        <div class="col col-md-1">
          Ilość
        </div>
        <div class="col col-md-6">
          Produkt
        </div>
        <div class="col col-md-2">
          Cena
        </div>
        <div class="col col-md-2">
          Wartość
        </div>
        <div class="col col-md-1">
        </div>
    </div>
    <div *ngFor="let key of getObjectKeys(orderDetails)" class="row">
        <div class="col col-md-1">
          {{ orderDetails[key].count }}
        </div>
        <div class="col col-md-6">
          {{ productsName[key] }}
        </div>
        <div class="col col-md-2">
            {{ orderDetails[key].price || 0 | currency:'USD':true }}
        </div>
        <div class="col col-md-2">
            {{ (orderDetails[key].price * orderDetails[key].count) || 0 | currency:'USD':true }}
        </div>
    </div>
    <div class="row">
        <div class="col col-md-3 offset-md-6">
          Wartość zamówienia:
        </div>
        <div class="col col-md-3">
          {{ calculateOrderSumup() | currency:'USD':true }}
        </div>
    </div>
    <div *ngIf="order.status == 1" class="row">
      <div class="col col-md-3">
        <button class='btn btn-success' (click)="markAsRealised(key)">Oznacz jako zrealizowany</button>
      </div>
    </div>
</div>