<div class="shop-tab-menu">
  <div class="list-group">
    <a *ngFor="let category of categories" (click)="setActive(category.id)" [ngClass]="activeCategories[category.id] ? 'selected': ''" class="list-group-item">
      <p><i aria-hidden="true"></i>{{ category.name }}</p>
    </a>
  </div>
</div>