.list-group-item {
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.120);
    border-radius: 6px;
}
.list-group-item.selected{
    background-color: #87CEFA;
    color: white !important;
}
.list-group-item:not(.selected){
    cursor: pointer;
}