.product-item{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.addToCart{
    position: absolute;
    top: 25px;
    right: 25px;
}

.paginationContainer{
    float: right;
    margin-right: 5%;
}

.page-item:not(.active){
    cursor: pointer;
}

.page-item.disabled{
    cursor: not-allowed;
}