<div>
    <div *ngFor="let product of filterProducts()" class="card product-item">
        <div class="card-block" (dblclick)="showProduct(product)">
            <h3 class="card-title">{{product.name}}</h3>
            <p class="card-text">{{product.description}}</p>
            <p *ngIf="promotionsArray[product.id]" class="card-text">Promocja kończy się za: {{ createCountDown(promotionsArray[product.id]) }}</p>
            <a href="#" *ngIf="!promotionsArray[product.id]" class="btn btn-primary addToCart" (click)="addItemToCart(product)">{{product.price | currency:'USD':true}}</a>
            <a href="#" *ngIf="promotionsArray[product.id]" class="btn btn-danger addToCart" (click)="addItemToCart(product)">{{ product.price * (100 - promotionsArray[product.id]['promotionValue'])/100  | currency:'USD':true }}</a>


        </div>
    </div>

    <div *ngIf="pagesNumber > 1" class="paginationContainer">
        <ul class='pagination'>
            <li (click)="updateActivePage(activePage-1)" [ngClass]="activePage == 1 ? 'disabled': ''" class="page-item"><a class="page-link">< Previous</a></li>
            <li *ngFor="let pageNumber of createRange(pagesNumber)" [ngClass]="activePage == pageNumber ? 'active': ''" (click)="updateActivePage(pageNumber)" class="page-item"><a class="page-link">{{pageNumber}}</a></li>
            <li (click)="updateActivePage(activePage+1)" [ngClass]="activePage == pagesNumber ? 'disabled': ''" class="page-item"><a class="page-link">Next ></a></li>
        </ul>
    </div>
</div>