<div class='container'>
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Moje zamówienia</h2></div>
            </div>
        </div>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  
      <ngb-panel *ngFor="let order of orders; let i = index;" title="{{ order.recipient }} ({{ order.address }}), {{ calculateOrderSumup(i)  | currency:'USD':true  }}">
        <ng-template ngbPanelContent>
          <app-order-details [order]="order" (orderStatusChange)="updateOrderStatus(order, $event)"></app-order-details>
        </ng-template>
      </ngb-panel>
  
    </ngb-accordion>
  </div>
    